* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    display: flex;
    height: 100vh;
    background: linear-gradient(to right, #191919, #ee5151);
    font-family: Arial, sans-serif;
}

.main-content {
    margin-left: 80px;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.register-box {
    background-color: #1e1e1e;
    padding: 40px;
    border-radius: 12px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.4);
    text-align: center;
    width: 100%;
    max-width: 400px;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.catalog-box {
    width: 100%;
    max-width: 1000px;
    padding: 40px;
    color: #fff;
}

.input-row {
    display: flex;
    gap: 12px;
    width: 100%;
    margin-bottom: 15px;
}

.input-row input {
    flex: 1;
    padding: 12px;
    border: none;
    border-radius: 6px;
    background-color: #2c2c2c;
    color: #fff;
    font-size: 16px;
}

input {
    width: 100%;
    padding: 12px;
    margin: 10px 0;
    border: none;
    border-radius: 6px;
    background-color: #2c2c2c;
    color: #fff;
    font-size: 16px;
}

input::placeholder {
    color: #aaa;
}

input,
select {
    margin: 5px 0;
    padding: 12px;
    border-radius: 6px;
    background-color: #2c2c2c;
    color: #fff;
    width: 100%;
}

button {
    width: 100%;
    padding: 12px;
    border: none;
    border-radius: 6px;
    background-color: #ee5151;
    color: white;
    font-size: 16px;
    font-weight: bold;
    transition: background 0.3s ease;
}


a button {
    background-color: transparent;
    border: 2px solid #ee5151;
    color: #ee5151;
    margin-top: 10px;
}

a button:hover {
    background-color: #ee5151;
    color: white;
}

button {
    width: 100%;
    padding: 12px;
    margin-top: 15px;
    border: none;
    border-radius: 6px;
    background-color: #ee5151;
    color: white;
    font-size: 16px;
    font-weight: bold;
    transition: background 0.3s ease;
}

button:hover {
    background-color: #ff6b6b;
}

table {
    border-collapse: collapse;
    width: 100%;
    margin-top: 20px;
    background-color: #202020;
    border-radius: 3px;
}

th,
td {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: center;
    border-radius: 3px;
}

th {
    background-color: #f0f0f0;
    color: #000;
}

td {
    color: #fff;
}

.favorite {
    color: red;
    font-weight: bold;
}

.error {
    color: red;
}

.success {
    color: green;
}

h1,
h2 {
    color: #fff;
    text-align: center;
}

p {
    color: #fff;
}

.login {
    background: #1e1e1e;
    padding: 40px;
    border-radius: 12px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.4);
    text-align: center;
    width: 400px;
    color: #fff;
}

nav.sideBar {
    position: fixed;
    top: 0;
    left: 0;
    width: 80px;
    height: 100vh;
    background-color: #202020;
    padding: 40px 0 40px 1%;
    box-shadow: 3px 0 0 #ee5151;
    overflow: hidden;
    transition: 0.2s;
}

nav.sideBar:hover {
    width: 300px;
}

.btn-expand {
    width: 100%;
    padding-left: 10px;
}

.btn-expand>i {
    color: white;
    font-size: 24px;
    cursor: pointer;
}

ul {
    height: 100%;
    list-style-type: none;
}

ul li.item-menu {
    transition: 0.2s;
}

ul li.item-menu:hover {
    background-color: #ee5151;
}

ul li.item-menu a {
    color: white;
    text-decoration: none;
    font-size: 20px;
    padding: 20px 4%;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    line-height: 40px;
}

ul li.item-menu a .icon {
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

ul li.item-menu a .icon>i {
    font-size: 30px;
}

ul li.item-menu a .txt-link {
    display: none;
    margin-left: 20px;
}

nav.sideBar:hover .txt-link {
    display: inline;
}

.add-box {
    background-color: #1e1e1e;
    padding: 40px;
    border-radius: 12px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.4);
    text-align: center;
    width: 100%;
    max-width: 500px;
    color: #fff;
    display: flex;
    flex-direction: column;
    gap: 12px;
}